@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
* {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: .02em;
}

body {
  background-color: #1c2026;  
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  
  width: 100vw;
  height: 100vh;
}

.child {
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  
  padding: 2em;
  grid-area: inner-div;
  opacity: 0;
  animation: fade-in 1s ease-in 1.1s;
  animation-fill-mode: forwards;
}

.header > img {
  opacity: .3;
  object-fit: cover;
  transform: translateX(100%) rotate(20deg);
}

.header > .centered {
  position: absolute;
  text-align: center;
  color: #fff;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
