@font-face {font-family: "Core Sans G";src: url(../../assets/fonts/CoreSans/CoreSansG-Light.ttf)}

body {
	font-family: "Core Sans G",Arial,sans-serif;
	text-align: center;
}

.move-string {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.move-arrow, .move-button {
	width: 40px;
	height: auto;
}

.move-button-miss {
	width: 40px;
	height: auto;
	filter: opacity(15%);
}

.move-next {
	width: 20px;
	height: auto;
	filter: invert(42%) sepia(78%) saturate(2225%) hue-rotate(90deg) brightness(106%) contrast(110%);
}

.char-img {
	width: 400px;
	height: auto;
}

.img-box {
	display: flex;
	align-items: center;
	justify-content: center;
}
.divider {
	padding-right: 5px;
	padding-left: 5px;
}